.Calculater {
  border: 1rem solid red;
  padding: 1rem;
  margin: 1rem; 
}
article {
  padding-bottom: 2rem;
  & .p {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}